.buttonClose {
    position: absolute;
    left: 20px;
    top: 20px;
    cursor: pointer;
}

.fifthItem {
    padding-left: 100px;
    padding-top: 10px;

}

.textFifth {
    font-family: Raleway;
    font-size: 30px;
    font-weight: bold;
}

.cost {
    font-family: Raleway;
    font-size: 30px;
    font-weight: bold;
}

.buttonHeart {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 40px;
}

.itemsText {
    font-family: Raleway;
    font-size: 25px;
}

.contentContainer {
    display: flex;
}