.buttonClose {
    cursor: pointer;
}

.fifthItem {
    padding-left: 100px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.textFifth {
    font-family: Raleway;
    font-size: 30px;
    font-weight: bold;
}

.cost {
    font-family: Raleway;
    font-size: 30px;
    font-weight: bold;
}

.buttonHeart {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 40px;
}

.itemsText {
    font-family: Raleway;
    font-size: 25px;
    white-space: pre-line;
    padding-right: 20rem;

}

.contentContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5em
}