.buttonClose{
    position:absolute;
    left: 20px;
    top:20px;
}
.fifthItem {
   padding-left: 100px;
    padding-top: 10px;
}
.textFifth{
    font-family: Raleway;
    font-size: 30px;
    font-weight: bold;
}
.cost{
    font-family: Raleway;
    font-size: 30px;
    font-weight: bold;
}
.buttonHeart{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
    position: relative;
    bottom:530px;
    padding-right: 500px;
}
.itemsText{
    font-family: Raleway;
    font-size: 25px;
    position: relative;
    bottom: 500px;
    padding-right: 100px;
    padding-left: 800px;
}