.headerAccount {
    height: 130px;
    background-color: #CBBBAB;
    display: flex;
    padding-inline: 40px;
    justify-content: space-between;
    align-items: center;
}

.exit {
    cursor: pointer;
}

.headerAccount p {
    font-family: Raleway;
    font-size: 30px;
    color: white;
    padding-top: 5px;
}

.rectangleAccount {
    width: 800px;
    height: 550px;
    background-color: white;
    position: relative;
}

.flexAccount {
    display: flex;
    flex-direction: row;
    gap: 270px;
    align-items: center;
    justify-content: center;
}

.backUnderline {
    text-decoration: none;
    color: inherit;
}