.headerShoppingInformation{
    display: flex;
    align-items: center;
    gap: 640px;
    font-family: Raleway;
    font-size: 30px;
}
.shoppingInformationText {
    font-family: Raleway;
    font-size: 40px;
    padding-top: 80px;

    font-weight: bold;
    text-align: center;
}
.Sales p{
    font-family: Raleway;
    font-size: 40px;
    padding-top: 50px;

    text-align: center;
}
.salesCard {
    text-align: center;
}
.salesCardText {
    text-align: center;
    font-family: Raleway;
    font-size: 30px;
    padding-top: 50px;

}
.containerShoppingInformation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-left: 30px;
}
.storesShoppingInformation {
    font-family: Raleway;
    font-size: 40px;
    text-align: center;
}
.pointDescription {
    font-family: Raleway;
    font-size: 25px;
    font-family: Raleway;
    font-size: 25px;
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 60px;
}
.guaranteeShoppingInformation {
    font-family: Raleway;
    font-size: 40px;
    padding-top: 50px;

    text-align: center;
}
.guaranteeDescription {
    font-family: Raleway;
    font-size: 25px;
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 60px;
}
.deliveryShoppingInformation {
    font-family: Raleway;
    font-size: 40px;
    padding-top: 50px;

    text-align: center;
}
.deliveryDescription {
    font-family: Raleway;
    font-size: 25px;
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 60px;
}
.workTimeShoppingInformation {
    font-family: Raleway;
    font-size: 40px;
    padding-top: 50px;

    text-align: center;
}
.workTimeDescription {
    font-family: Raleway;
    font-size: 25px;
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 60px;
}
.questionsShoppingInformation{
    font-family: Raleway;
    font-size: 23px;
    padding-top: 50px;

    text-align: right;
}
.footerShoppingInformation {
    width: 100%;
    height: 100px;
    background: rgb(224, 224, 224);
    margin-top: 0;
    position: relative;
}
