.headerOrder {
    background: rgb(224, 224, 224);
    position: relative;
    width: 100%;
    height: 90px;
}
body {
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    background-color: #F0F0F0;

}
.orderText {
    font-family: Raleway;
    font-size: 25px;
    font-weight: bold;
}
.headerTexrOrder {
    display: flex;
    align-items: center;
    gap: 600px;
    padding-left: 20px;
}
input {
    width: 40%;
    height: 30px;
    border-radius: 25px;
}
.inputName {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 40px;
    font-family: Raleway;
    font-size: 22px;
    font-weight: lighter;
}
.inputEmail {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 40px;
    font-family: Raleway;
    font-size: 22px;
    font-weight: lighter;
}
.inputPhone {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 40px;
    font-family: Raleway;
    font-size: 22px;
    font-weight: lighter;
}
.delivery {
    font-size: 30px;
    font-family: Raleway;
    padding-left: 20px;
    padding-top: 40px;
}
.inputCity {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 40px;
    font-family: Raleway;
    font-size: 22px;
    font-weight: lighter;
}
input[type="radio"]:checked,
input[type="radio"]:not(:checked)
{
    position: absolute;
    left: -9999px;
}
input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}
input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}
input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
    border-radius: 100%;
}
input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
    left: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #D8B388
}
input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
}
input[type="radio"]:checked + label:after {
    opacity: 1;
}
.radioOrder p{
    font-family: Raleway;
    font-size: 25px;
}
.radioOrder{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.receivingPoint {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 60px;
    font-family: Raleway;
    font-size: 22px;
    font-weight: lighter;
}
.recepient {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 60px;
    font-family: Raleway;
    font-size: 22px;
    font-weight: lighter;
}
.commentOrder {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 60px;
    font-family: Raleway;
    font-size: 22px;
    font-weight: lighter;
}
input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked)
{
    position: absolute;
    left: -9999px;
}
input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label
{
display: inline-block;
position: relative;
padding-left: 28px;
line-height: 20px;
cursor: pointer;
}
input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before
{
content: "";
position: absolute;
left: 0px;
top: 0px;
width: 18px;
height: 18px;
border: 1px solid #dddddd;
background-color: #ffffff;
}
input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
}
input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after
{
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #D8B388;
    border-bottom: 4px solid #D8B388;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
input[type="checkbox"]:not(:checked) + label:after
{
    opacity: 0;
}
input[type="checkbox"]:checked + label:after
{
    opacity: 1;
}
.personalData p{
    font-family: Raleway;
    font-weight: lighter;
}

.textFirstOrder p {
    font-family: Raleway;
    font-size: 22px;
    font-weight: bold;
}
.textSecondOrder p {
    font-family: Raleway;
    font-size: 22px;
    font-weight: bold;
}
.OrderItems {
    position: absolute;
    top: 155px;
    right: 400px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.textItemsOrder {
    position: absolute;
    top: 130px;
    right: 200px;
    display: flex;
    flex-direction: column;
    gap: 230px;
}
.quantityItems {
    position: absolute;
    top: 170px;
    right: 200px;
    display: flex;
    flex-direction: column;
    gap: 210px;
}
.totalcostOrders p{
    font-family:Raleway;
    font-size: 20px;
}
.totalcostOrders {
    position: absolute;
    top: 700px;
    right: 300px;
    display: flex;
    flex-direction: column;
}

