.headerOrder {
    background: rgb(224, 224, 224);
    position: relative;
    width: 100%;
    height: 90px;
}
body {
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    background-color: #F0F0F0;

}
.orderText {
    font-family: Raleway;
    font-size: 32px;
    font-weight: bold;
}
.headerTexrOrder {
    display: flex;
    align-items: center;
    gap: 600px;
    padding-left: 20px;
}
input {
    width: 40%;
    height: 30px;
    border-radius: 25px;
}
.inputName {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 40px;
    font-family: Raleway;
    font-size: 22px;
    font-weight: lighter;
}
.inputEmail {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 40px;
    font-family: Raleway;
    font-size: 22px;
    font-weight: lighter;
}
.inputPhone {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 40px;
    font-family: Raleway;
    font-size: 22px;
    font-weight: lighter;
}
.delivery {
    font-size: 30px;
    font-family: Raleway;
    padding-left: 20px;
    padding-top: 40px;
}
.inputCity {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 40px;
    font-family: Raleway;
    font-size: 22px;
    font-weight: lighter;
}